* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p,
blockquote,
ul,
ol,
pre,
button {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

main {
  display: block;
}

a, button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  overflow: visible;
}

input, textarea {
  font: inherit;
}

textarea, label {
  vertical-align: middle;
}

textarea {
  resize: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: none;
}

table {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

a,
button,
input,
label,
select,
textarea {
  touch-action: manipulation;
}

:focus {
  outline: none;
}
