* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
p,
blockquote,
ul,
ol,
pre {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

main {
  display: block;
}

a, button {
  color: inherit;

  transition: color, background-color, border-color;
  transition-duration: .25s;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  letter-spacing: inherit;
  background: none;
  padding: 0;
  border: none;
  overflow: visible;
  cursor: pointer;
}

input, textarea {
  font: inherit;
}

textarea, label {
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  border: none;
}

table {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

:focus {
  outline: none;
}
