body {
  color: $font-color;
  font-family: $font-typeface;
  font-size: $font-size-base + rem;
  font-weight: $font-weight-normal;
  line-height: $line-height-base / $font-size-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
strong,
b {
  font-weight: $font-weight-bold;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p,
ul,
ol,
table,
pre {
  margin-bottom: rem-to-px($line-height-base);
}

h1, .h1 {
  @include font-size($font-size-h1);
}

h2, .h2 {
  @include font-size($font-size-h2);
}

h3, .h3 {
  @include font-size($font-size-h3);
}

h4, .h4 {
  @include font-size($font-size-h4);
}

h5, .h5 {
  @include font-size($font-size-h5);
}

h6, .h6 {
  @include font-size($font-size-h6);
}

a, button {
  transition: color, background-color, border-color;
  transition-duration: $transition-duration;
}

a {
  color: $link-color;

  &:visited {
    color: $link-color-visited;
  }

  &:hover, &:focus {
    color: $link-color-focus;
  }
}
