// Text alignment
.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-capitalize {
    text-transform: capitalize;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

// Lists
ul {
  &.inline {
    li {
      display: inline-flex;

      &:not(:last-of-type) {
        margin-right: $list-inline-margin-right;
      }
    }
  }

  &.unstyled {
    list-style-type: none;
  }
}

// Common colors
.c {
  &-white {
    color: $common-white-color;
  }

  &-green {
    color: $common-green-color;
  }

  &-yellow {
    color: $common-yellow-color;
  }

  &-red {
    color: $common-red-color;
  }
}

.bg {
  &-white {
    background-color: $common-white-color;
  }

  &-green {
    background-color: $common-green-color;
  }

  &-yellow {
    background-color: $common-yellow-color;
  }

  &-red {
    background-color: $common-red-color;
  }
}
