// Colors
$font-color: #353535 !default;
$common-white-color: #FFFFFF !default;
$common-green-color: #2BAB51 !default;
$common-yellow-color: #FF9939 !default;
$common-red-color: #EC1561 !default;

// Typeface
$font-typeface: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;
$font-size-base: 1.6 !default;
$line-height-base: 2.4 !default;
$font-size-h1: 3.1 !default;
$font-size-h2: 2.8 !default;
$font-size-h3: 2.5 !default;
$font-size-h4: 2.2 !default;
$font-size-h5: 1.9 !default;
$font-size-h6: 1.6 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;

// Links
$link-color: #459DFD !default;
$link-color-focus: darken($link-color, 10%) !default;
$link-color-visited: #673AB7 !default;

// Lists
$nested-list-padding-left: 15px !default;

// Lists
$list-inline-margin-right: 15px !default;

// Effects
$transition-duration: .25s !default;
