// Grid
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$container-sm: (720px + $grid-gutter-width) !default;
$container-md: (940px + $grid-gutter-width) !default;
$container-lg: (1140px + $grid-gutter-width) !default;

// Colors
$font-color: #333333 !default;
$common-white-color: #FFFFFF !default;
$common-green-color: #2BAB51 !default;
$common-yellow-color: #FF9939 !default;
$common-red-color: #EC1561 !default;

// Typeface
$font-typeface: 'Open Sans', 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif !default;
$font-size-base: 1.6 !default;
$line-height-base: 2.4 !default;
$font-size-h1: 3.1 !default;
$font-size-h2: 2.8 !default;
$font-size-h3: 2.5 !default;
$font-size-h4: 2.2 !default;
$font-size-h5: 1.9 !default;
$font-size-h6: 1.6 !default;
$font-weight-normal: 300 !default;
$font-weight-bold: 400 !default;

// Links
$link-color: #459DFD !default;
$link-color-focus: darken($link-color, 10%) !default;
$link-color-visited: #673AB7 !default;

// Lists
$nested-list-padding-left: 15px !default;

// Lists
$list-inline-margin-right: 15px !default;

// Effects
$transition-duration: .25s !default;
